// Specific CSS for your home-page

.logo-tag {
  position: relative
}

.logo-text {
  position: absolute;
  top: 0;
  left: 30%;
  color: white;
}
.logo-content {
  position: absolute;
  top: 85%;
  left: 44%;
  color: white;
  font-size: 97%;
}

#dogexcursions{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-wrapper {
  background-color: #C6DEA6;
  padding: 2%;
}
