.card_form {
  height: 760px;
  width: 500px;
  margin: 0 auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: .9;
  h2 {
    margin-top: 0;
  }
}
.form-control-label {
  display: block;
  text-align: left;
  margin-left: 10px;
}
.card_container {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 4px;
}
