.card_form {
  height: 900px;
  width: 50%;
  margin: 20px 250px 50px 250px;
  background: #FCFFF8;
  padding: 15px;
  opacity: .9;
  font-size: 22px;
  h2 {
    margin-top: 0;
  }
}
.form-control-label {
  display: block;
  text-align: left;
  margin-left: 10px;
}
.card_container {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 4px;
}

.flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.collection_check_boxes {
  margin-left: 5px;
}

.col-form-label {
  margin-bottom: 5px;
}

.request_dogs {
  margin-bottom: 20px;
}
