.request-container {
  margin-top: 5px;
  padding: 0 30px 0 30px;
  display: flex;
  p {
    margin: 5px 0 0 0;
  }
  em {
    font-size: 18px;
  }
  #locations {
    width: 65%;
  }
  #distance {
    font-size: 20px;
  }
}

.request-title {
  color: black;
  margin: 50px;
  padding: 15px;
  border-radius: 5px;
}
.request-shelter-image {
  width: 500px;
  height: 460px;
  border-radius: 3px;
  margin: 10px;
}

.request-title {
  background-color: #adc58c;
  color: white;
  margin: 40px 10px 10px 10px;
  padding: 2px 10px 10px 10px;
  border-radius: 4px;
  h3 {
    margin: 10px auto 10px auto;
  }
}


.request-dog-image {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  .request-dog-image:hover{
     text-decoration: none;
     color: white;
      opacity: .7;
  }
}
.request-info {
  background-color: white;
  padding: 50px;
}
.request-card {
  display: flex;
  align-items: center;
  text-align: -webkit-center;
  margin-bottom: inherit;
  justify-content: center;
  border-radius: 3px;
}

.request-show-info {

  display: flex;
  align-items: center;
  text-align: -webkit-center;
  margin-bottom: inherit;
  justify-content: center;
}
.request-content {
  display: flex;
  align-items: center;
  padding-top: 25px;
  font-size: 20px;
}
.request-user-img {
  margin: 0;
}
.dog-name-link {
  color: #2980B9;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  .dog-name-link:hover{
     text-decoration: none;
     color: white;
      opacity: .7;

  }
}

.flex-requests {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.margins-top-bottom {
  margin: 30px 0 30px 0;
}
