.sign-up-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.blue {
  color: #44BFDB;
}

.black {
  color: black;
}

.green {
  color: #08A33F;
}

.red {
  color: #E7112D;
}
