.sign-up-container {
  width: 50%;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.blue {
  color: #44BFDB;
}

.black {
  color: black;
}

.green {
  color: #08A33F;
}

.red {
  color: #E7112D;
}

.signupbtn {
  padding: 2%;
}
