.movie_card_single{
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  margin: 0 auto 40px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  h3 {
    margin-top: 0;
    font-size: 32px;
  }
  h5 {
    font-size: 20px;
  }
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        color: black;
        font-weight: 400;
      }
      h4{
        color: #555;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 15px;
        color: #555;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      .type{
        display: inline-block;
        color: #959595;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      margin-left: 20px;
      padding: 25px 0 25px 25px;
      height: 50%;
      .pickup_header {
        margin-bottom: 15px;
      }
      .indent {
        margin-left: 5px;
        font-weight: bold;
      }
      p {
        margin: 0 0 0 0;
        color: #545454;
      }
    }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(0,0,0,0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(0,0,0,0.7);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
}


.locandina{
  position: relative;
  float: left;
  margin-bottom: 20px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #c4dea6;
  box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.request_card-title {
    padding: 2.25rem;
    padding-left: 2rem;
    text-align: center;
    color: white;
    font-size: 2.25rem;
    background-color: #adc58c;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c6dea6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.request_info_section{
  height: 2%;
  background-blend-mode: multiply;
  z-index: 2;
}
