<div class="dog-index">
</div>
<div class="center add-dog">
  <h2>Ollie Dog  </h2>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <% @dogs.each do |dog| %>
        <figure class="snip1336 prettydogs">
          <img src="https://images.pexels.com/photos/158063/bellingrath-gardens-alabama-landscape-scenic-158063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample87" class="dogpark" />
          <figcaption>
            <% if dog.photo %>
              <%= image_tag dog.photo, :class=>"profile" %>
            <% end %>
            <div class="flex-card-dog">
              <h2><%= dog.name %><span> <%= dog.breed %></span></h2>
              <span>
                <a <%= link_to dog_path(dog) do %> View Profile</a>
                <% end %>
              </span>
            </div>
          </figcaption>
        </figure>
      <% end %>
    </div>
  </div>
</div>
<!-- <div class="dog-link">
  <p><%#= link_to "+ Add Dog", new_dog_path(@user)  %> </p>
</div> -->