.map {
  width: 48%;
  height: calc( 100vh - 74px );
  position: fixed !important;
  top: 74px;
  right: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.full {
  height: 100vh;
  top: 0;
  transition: 0.5s ease;
}

.over-map {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 99;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.relative {
  position: relative;
}
