<div class="footer">
  <div class="footer-links footer-icons center">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="mailto:helloollieboard@gmail.com"><i class="fas fa-envelope-open"></i>
    </a>
  </div>
  <div>
    <h4>|</h4>
  </div>
  <div class="footer-links footer-git">
    <h6>Creators: </h6>
    <a href="http://github.com/Georgewwalden7", class="flex-column" target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/Georgewwalden7", class: "footer-avatar"%></a>
    <a href="http://github.com/mattfraz38", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/mattfraz38", class: "footer-avatar"%></a>
    <a href="http://github.com/ringochico", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ringochico", class: "footer-avatar"%></a>
    <a href="http://github.com/naneng", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/naneng", class: "footer-avatar"%></a>
  </div>
</div>