<div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("dogsincar.jpeg") %>) ">
  <div class="banner-content">
    <h1>Ollieboard</h1>
    <p>Ollie is transport service that will make it easier for animal shelters and Ollie buddies to connect with their volunteers.</p>
    <a class="btn btn-primary btn-lg"></a>
  </div>
</div>

<div class="col col-xs-12">
    <div class="center">
     <h1>Testimonials</h1>
  </div>
  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>
    <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor." - Tim </p>


  <p>"Having been attending Trevor for the last 2-3 years I can honestly say that you won't get a better massage. With the correct pressure Trevor knows exactly the right areas to work on. I am continuously impressed by the professional and attentive care he provides each time I go. Needless to say I would highly recommend Trevor. "</p>
</div>
</div>
</div>
