.big-banner {
  background-color: $main-green;
  color: $white;
  padding: 4%;
  h3 {
    font-size: 90%;

  }

}
.banner-name {
  background-color: $main-green;
  color: $white;
}

.big-banner-text {
 text-align: center;
  padding: 6%;

}
