.sign-up-btn {
  background-color: #FDFFF9;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}


.arrow-btn {
  background-color: #707070;
  // color: #707070;
  color: white;
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  border-radius: 3px;
  transition: all .5s;
  display: inline-block;
  position: relative;

}

.arrow-btn:after {
  content: '\00bb';
  opacity: 0;

  transition: 0.5s;
}


.arrow-btn:hover {
  padding-right: 10px;
  text-decoration: none;
  background: #707070;
  color: white;
  opacity: 0.50;
}

.arrow-btn:hover:after {
  opacity: 1;
  // right: 0;
}


.add-olliebuddy {
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #3EBB89;
  background-color: white;
  color: #3EBB89;
  margin-bottom: 10px;
}


.user-buttons {
  padding: 13px;
}
