.sign-up-btn {
  background-color: #FDFFF9;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}


.white-btn {
  // background-color: #FDFFF9;
  // border: 1px white solid;
  // color: white;
  // border-radius: 4px;
  // padding: 3px 12px;
  // position: relative;
  border: 2px #707070 solid;
  background: #eaeaea;
  color: #707070;
  padding: 5px 12px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;

}

.white-btn:hover {
  text-decoration: none;
  background: #707070;
  color: white;
  opacity: 0.50;
}
