.user-container {
  background: #FDFFF9;
}

// .card-container-user {
//   // display: flex;
//   // grid-template-columns: 1fr 1fr 1fr;
//   // grid-gap: 25px;
//   // position: absolute

// }


.card {
  height: 100px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.6);
  // background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 10px;
  padding-top: 3px;
  // margin-bottom: 20px;
  margin: 3px;
  // border: 1px #C5A6DC solid;
  // flex: 0 0 32%;
  box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
  overflow: hidden;
  width: 100%;
}


.card-description {
  // position: absolute;
  // bottom: 0px;
  color: white;
  left: 0px;
  padding: 0px 3px 0px;
  // background: rgb(171, 87, 219);
  background-color: #adc58c;
  // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c6dea6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.5;
  // width: 100%;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  text-align: center;
}

.card p {
  // position: absolute;
  color: white;
  margin: 0px;
}

.card:hover {
  opacity: 0.8;
  border: 2px rgb(114, 186, 0) solid;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  align-items: center;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

.user-title h1 {
  color: rgb(123, 173, 38);
}
