.user-container {
  background: #FFFFFF;
}

// .card-container-user {
//   // display: flex;
//   // grid-template-columns: 1fr 1fr 1fr;
//   // grid-gap: 25px;
//   // position: absolute

// }

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  align-items: center;
}

.card {
    display: flex;
    height: 100px;
    /* text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6); */
    color: white;
    position: relative;
    border-radius: 10px;
    padding-top: 3px;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px rgba(218, 210, 210, 0.5);
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}


.card-description {
  // position: relative;
  // bottom: 0px;
  // color: rgb(63, 84, 54);
  display: flex;
  color: black;
  // border: 1px green solid;
  // left: 0px;
  padding: 0px 3px 0px;
  // background: rgb(171, 87, 219);
  // background-color: #adc58c;
  // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c6dea6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.5;
  // width: 100%;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  text-align: center;
  // display: flex;
  flex-wrap: wrap;
  margin: 3px;
  align-items: center;
  flex-grow: 1;
}

.card p {
  // position: absolute;
  // color: white;
  margin: 0px;
}

.card:hover {
  opacity: 0.8;
  border: 2px rgb(114, 186, 0) solid;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

.user-title h1 {
  color: rgb(123, 173, 38);
}
