.joinollie{

  padding-top: 51px;
}

.landingicon:hover {
  opacity: .9;

}

.ollieinfo {
    padding-top: 9%;
    margin-left: 20px;
    margin-right: 29px;
    margin-bottom: 30px;
    background: white;

}

.ollietext{

}

.olliecontent p{
  font-size: 80%;
}

.dogicon {
  max-width: 100%;
  max-height: 100%;
  height: 30vh;


}

.first-content {
  display: flex;
}

.second-content{
  display: flex;
}

.purple {
  background-color: #D0CFEC;
  text-align: center;
    width: 50px;
    height: 50px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: -5%;
  z-index: 1;
  p {
    margin: 0;
    font-size: xx-large;
    color: #0b4570;
    // font-weight: bolder;
  }
}

.white {
  width: 49%;
  text-align: center;
      max-width: 100%;
    /* height: auto; */
    max-height: 100%;
    font-size: 25px;
    margin: auto;
}

.larbtn {
  display: flex;
  max-height: 100%;
  position: absolute;
  justify-content:  space-between;
  bottom: -82px;
  width: 534px;

}

.larbtn:hover{


}

.larbtntext {
  display: flex;
  color: black;
}
.larbtnflex {
  display: flex;
  justify-content: center;
}

.purpledog {
      width: 29%;
    padding: 15px;
}

.line{
  display:flex;
  flex-direction: column;
  width: 36vh;
  padding-top: 25vh;
  padding-left: 20vh;
}

// .line-item{

// }

// .lineicon{
//       width: 20vh;
//     height: 20vh;
// }


// .lineiconmag{
//       width: 20vh;
//     height: 20vh;
//         margin-left: 53vh;
// }

// .purple-line{
//          width: 1vh;
//     height: 30vh;
//     background-color: #d0cfec;
//     /* text-align: center; */
//     margin-left: 10px;
//     padding: 3px;
// }
// .purpfont h1 {
//   text-align: center;
//     color: #0b4570;

// }

// .purple-info {
//   width: 140vh;
//   margin-top: -94px;
//   margin-left: 74px;
//   p {
//     padding: 5px;
//   }
// }

// .lineiconcar {

//     width: 31vh;
// }

// .line-flex-box {
//   display: flex;
// }

// .left-part {
//   flex-basis: 35%;
//       justify-content: center;
//     margin-top: 31vh;
//     margin-left: 5vh;
//     padding: 20px;

// }

// .left-part-mag {
//   flex-basis: 35%;
//       justify-content: center;
//     margin-left: 5vh;
//     padding: 20px;
// }

// .left-text {
//   margin-left: 80px;
// }

// .right-text-bottom {
//   justify-content: center;
//     margin-top: 31vh;
//     margin-left: 5vh;
//     padding: 20px;
// }

// .left-text-middle {
//   justify-content: center;
// }
// .middle-part {
//     flex-basis: 25%;
//     justify-content: center;
//     margin-top: 31vh;
//     margin-left: 25vh;
//     padding: 5px;



// }
// .right-part {
//   flex-basis: 40%;
// }


.wrapper-purple {
   background-color: #e7e3ee;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239986b8' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
   width: 100%;
   margin: 0 auto;
}
.line-flex-box {
  display: flex;
  margin: 150px 0;
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 45%;
  position:relative;
}

.left-part-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.left-part-item-one {
    position: absolute;
    top: 62px;
    right: -100px;
    p {
    padding-right: 65px;
    }
}

.left-part-item-two {
    position: absolute;
    bottom: 6px;
    right: -100px;
     p {
      padding-right: 76px;
    }
}


.timeline-card {
  background-color: white;
  padding: 12px;;
  border-radius: 10px;
  color: #4E509E;
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 45%;
  position:relative;
}

.right-part-mag-item {
  position: absolute;
  top: 45%;
  left: -100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    padding-left: 100px;
    padding-right: 40px;
    margin-bottom: 0;
  }
}

.middle-part {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;

}

.purple-line{
  width: 10px;
  height: 20vh;
  background-color: #d0cfec;
  /* text-align: center; */
  // margin-left: 10px;
  padding: 3px;
}

.magicon {
  width: 109px;
  margin-right: 6px;
}
.dogsincar {
  width: 109px;
  margin-right: 36px;
}
.lineicon {
  width: 85px;
}




// .left-text-one {
//   border: 1px solid pink;
// }

.circle-number {
  display:flex;
  justify-content: center;
}



