
.card-dog {
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: #f9fafc;
  color:pink;
}

.card-text {
  margin: 2rem;
  padding-bottom: 1.5rem;
}

.card-headline {
  margin: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #525456;
}

.card-title {
  padding: 1.25rem;
  padding-left: 2rem;
  text-align: left;
  background-color: #67ceac;
  color: white;
  font-size: 2.25rem;
}

#corgi {
  border-radius: 50%;
  width: 20%;

}
.dog-avatar {
  text-align: center;
}
.card-dog {
  text-align: center;
}
