
.card-dog {
  margin: 3%;
  border: 0px solid rgba(227, 228, 225, 0.68);
  box-shadow: 1px 1px 1px #acc58b96;
}

.card-text {
  margin: 2rem;
  padding-bottom: 1.5rem;
  color: #adc58c;
}

.card-headline {
  margin: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #525456;
}

.card-title {
  padding: 4.25rem;
  padding-left: 2rem;
  text-align: center;
  color: white;
  font-size: 2.25rem;
  background-color: #adc58c;
  box-shadow: 1px 1px 1px #96a087cf;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c6dea6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.card-title-show {
  padding-left: 2rem;
  text-align: center;
  color: white;
  font-size: 2.25rem;
  background-color: #adc58c;
  box-shadow: 1px 1px 1px #96a087cf;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c6dea6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

#corgi {
  width: 90%;

}
.dog-avatar {
  text-align: center;
  margin: 8%;
  color: white;
}
.card-dog {
  text-align: center;
}

.dog {
  width: 38%;
    border-radius: 50%;
    text-align: center;
    display: flex;
    margin: auto;
    border-bottom-right-radius: 2px solid black;
    line-height: 0;
    margin: auto;
    border: 6px solid #c4dea6;
    box-shadow: 0px 0px 3px #c4dea6;
}

.dog-request-card {
  opacity: .8;

}
.dog-request-card:hover {
  opacity: 1;
}

#doghouse {
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 11%;
}
