
.footer {
  background: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgb(180, 180, 181);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-items: space-between;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-avatar {
  border-radius: 50%;
  width: 30px;
}

.footer-icons {
  color: black;
}
.footer-paths {
  display: flex;
  flex-direction: column;
  p{
    font-size: 20px;
  }
}
