.navbar {
  box-shadow: 0 5px 5px -5px #333!important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: #ffffff;
  margin-bottom: 0;
}
/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  justify-content: space-between;
  // padding: 0px 30px;
  align-items: center;
  width: 100%;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
}

.grey-text {
  color: #616668;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}


/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 80%;
  padding: 0px 20px;
}
.navbar-wagon-link:hover {
  color: rgb(146, 178, 94);
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#logo-nav {
  width: 61px;
}

.search {
  width: 60%;
}

// .search:hover {
//   width: 60%;
// }

.webdesigntuts-workshop {
  text-align: center;
  width: 72%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -400px;
  position: absolute;
  width: 800px;
}

.webdesigntuts-workshop form {

  border-radius: 15px;
  display: inline-block;
  font-size: 20px;
  margin: 5px auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshop input {
  background: rgb(255,255,255);
  border: 1px solid #c1c1c1;
  border-radius: 15px 0 0 15px;
  color: black;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  width: 400px;
}

.ie .webdesigntuts-workshop input {
  line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #c1c1c1;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: black;
}

.webdesigntuts-workshop input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #E2AC3C;
  border-color: white;
  color: black;
  outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
  color: black;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
  color: black;
}

.webdesigntuts-workshop button {
  background: #CEDCB1;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  // border-left-color: #E2AC3C;
  border-left-color: #c1c1c1;
  border-radius: 0 5px 5px 0;
  color: white;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 80px;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
  background: #CEDCB1;
  color: black;
  outline: none;
}

.webdesigntuts-workshop button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  top: 1px;
}
